{% extends "manager/view/base.html" %}
{% block head_extras %}
<script type="text/javascript" src="/tinymce/tiny_mce.js"></script>
<script type="text/javascript" src="/admin/static/scripts/jquery.validate.js"></script>
<script type="text/javascript">
function getIframeWindow(iframe_object) {
  var doc;

  if (iframe_object.contentWindow) {
    return iframe_object.contentWindow;
  }

  if (iframe_object.window) {
    return iframe_object.window;
  } 

  if (!doc && iframe_object.contentDocument) {
    doc = iframe_object.contentDocument;
  } 

  if (!doc && iframe_object.document) {
    doc = iframe_object.document;
  }

  if (doc && doc.defaultView) {
   return doc.defaultView;
  }

  if (doc && doc.parentWindow) {
    return doc.parentWindow;
  }

  return undefined;
}
$(document).ready(function(){
       
            $('#pageform').validate({
                rules:{
                    titlecomponent:'required'
                },
                messages:{
                    titlecomponent:'Título requerido'
                },
               //perform an AJAX post to ajax.php
               submitHandler: function() {
                    $("#guardar").attr('disabled','disabled');
                      var el = document.getElementById('editorweb');
                      content = getIframeWindow(el).getContent();
                       $.post('/admin/component/update', { id: '{{id}}', component: content, title: $('#titlecomponent').val(), summary: $('#summarycomponent').val(), key: $("#key").val() } , function(data) {
                            if(data == 'error'){
                                alert('Error al guardar la plantilla');
                            }
                            else{
                                alert('Componente Guardado');
                                location.reload();
                            }
                        });
                }
            }); 
    });
</script>
{% endblock %}
{% block tabs %}
<ul>
    <li><a href="/admin/component/new" class="icon-new-page margin-icon">Nuevo Componente</a></li>
    <li><a href="/admin/component/view" class="icon-view-page margin-icon">Ver Componentes</a></li>  
    <li><a href="#" class="active icon-edit margin-icon">Editar Componente</a></li>  
</ul>    
{% endblock %}
{% block content %}
<form id="pageform" name="page" method="post" action="/admin/component/update" enctype="multipart/form-data">
    <input type="hidden" value="{{component.key.urlsafe()}}" name="key" id="key">
    <div class="col">
        <div class="span1">
            <p>Titulo:</p>
        </div>
        <div class="span2">
            <p><input type="text" name="titlecomponent" id="titlecomponent" value="{{component.title}}" class="titletext" /></p>
        </div>
    </div>
    <div class="col">
        <div class="span1">
          <p>Resumen:</p>
        </div>
        <div class="span2">
          <p><textarea name="summarycomponent" id="summarycomponent" class="titletext long">{{component.summary}}</textarea></p>
        </div>
    </div>
    <div class="col">
        <iframe src="/admin/component/editor?c={{component.key.urlsafe()}}" name="editorweb" width="100%" height="500" scrolling="auto" frameborder="0" allowtransparency="true" id="editorweb">
                <p>No se puede mostrar el editor</p>
            </iframe>
    </div>
        <input type="submit" name="guardar" id="guardar" value="Guardar Componente" class="btngreenlarge" />
        <a href="/admin/component/delete?c={{component.key.urlsafe()}}&token={{token}}" class="btngreenlarge">Borrar</a>
</form>
{% endblock %}
