<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Subir Imagen</title>
  <link href="/admin/static/css/base_admin.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/admin/static/css/html5reset.css" type="text/css" />
  <link href="/admin/static/css/base_admin.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/admin/static/scripts/ajax/libs/jquery/1.7.2/jquery.min.js"></script>   
  <script type="text/javascript">
    $(document).ready(function(){	
        $("#sendfile").click(function(){   
         $(".uploadmessage").show();
        });
    });
</script>
</head>
<body>
<p>Sube una imagen dede tu Computador</p><br/>
<form method="POST" action="/admin/files/image" enctype="multipart/form-data">
    <input type="file" name="imgpage" /><br />
    <input type="submit" value="Subir" id="sendfile" /><span class="uploadmessage"><img src="/admin/static/images/ajax-loader.gif" />Subiendo archivo....</span>
  </form>
  
</body>
</html>