 <ul>
    {% if nav_actual == 'pages' %}
    <li><a href="/admin/page/new" class="actual icon-page margin-icon">Páginas</a></li>
    {% else %}
    <li><a href="/admin/page/new" class="hover icon-page margin-icon">Páginas</a></li>
    {% endif %}
    {% if nav_actual == 'components' %}
    <li><a href="/admin/component/new" class="actual icon-code margin-icon">Componentes</a></li>
    {% else %}
    <li><a href="/admin/component/new" class="hover icon-code margin-icon">Componentes</a></li>
    {% endif %}
    {% include "apps/navapps.html" %}
 </ul>
