{% extends "manager/view/base.html" %}
{% block tabs %}
<ul>
    <li><a href="/admin/page/new" class="icon-new-page margin-icon">Nueva Página</a></li>
    <li><a href="/admin/page/view" class="active icon-view-page margin-icon">Ver Páginas</a></li>  
</ul>    
{% endblock %}
{% block content %}
	<div class="box list_pages pb">
		{% if view == 'category'%}
		<h2><a href="/admin/page/view">Inicio</a> / {%if catactual != 'Inicio'%}{{catactual}}{%endif%}</h2>
		{% endif %}
		<table class="list-view">
			<thead>
				<tr>
					<th>Objeto</th>
					<th>ID</th>
					<th>Fecha Creación</th>
				</tr>
			</thead>
			<tbody>
				{% for c in category %}
				<tr>
					<td>
						<a href="/admin/page/view?key={{c.key}}&view=category" class="icon-category margin-icon">{{c.name}}</a>
					</td>
					<td>{{c.idcategory}}</td>
					<td>{{c.date_publication.strftime("%d/%m/%Y")}}</td>
				</tr>
				{% endfor %}
				{% for p in pages %}
				<tr>
					<td>
						<a href="/admin/page/edit?key={{p.key}}&token={{token}}" title="{{p.title}}" class="icon-page margin-icon">{{p.title}}</a>
					</td>
					<td>{{p.idpage}}</td>
					<td>{{p.date_publication.strftime("%d/%m/%Y")}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
